name: LaTeX Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          # メインの.texファイルを指定してください
          root_file: 2025houteimain.tex
          latexmk_use_lualatex: true

      - name: Upload PDF
        # ここに actions/ を追加します
        uses: actions/upload-artifact@v4
        with:
          name: pdf-artifact
          path: 2025houteimain.pdf