name: LaTeX Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: 2025houteimain.tex
          # LuaLaTeXをオフにし、日本語pLaTeX用のエンジン(latexmk)を使用します
          latexmk_use_lualatex: false
          # コンパイルのオプションを指定します
          args: "-pdfdvi -interaction=nonstopmode"

      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: thesis-pdf
          path: 2025houteimain.pdf